#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_sinecoin
#build/sinecoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_sinecoin)

DEB_INSTALL_EXAMPLES_sinecoind += debian/examples/*
DEB_INSTALL_MANPAGES_sinecoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix sinecoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f sinecoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake sinecoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_sinecoin
	src/test_sinecoin

# Ensure wrapper is set executable
binary-post-install/sinecoind:
	chmod +x $(cdbs_curdestdir)usr/bin/sinecoind
binary-post-install/sinecoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/sinecoin-qt
